# API Configuration - Nueva API de PCH
NEXT_PUBLIC_API_URL=https://pchtest.to-do.mx
NEXT_PUBLIC_API_CUSTOMER=81276
NEXT_PUBLIC_API_KEY=0LlAN2nJRl0idYtk

# Store Information
NEXT_PUBLIC_STORE_NAME=PCStore.mx
NEXT_PUBLIC_STORE_ID=pcstore
NEXT_PUBLIC_CONTACT_EMAIL=contacto@pcstore.mx
NEXT_PUBLIC_PHONE=22 28 29 83 51
NEXT_PUBLIC_ADDRESS=Calle 39 poniente 3515 Col. Las Ánimas, CP. 72400, Heroica Puebla de Zaragoza, Puebla
NEXT_PUBLIC_LEGAL_NAME=PCSTORE ONLINE SAS DE CV
NEXT_PUBLIC_RFC=PON240523JD2

# Branding
NEXT_PUBLIC_LOGO_URL=/images/logo.png
NEXT_PUBLIC_FAVICON_URL=/ico/favicon.ico
NEXT_PUBLIC_PRIMARY_COLOR=#ff002c
NEXT_PUBLIC_BACKGROUND_PRICE=#ffe7eb
NEXT_PUBLIC_TITLE_POST_DESCRIPTION=Tu tienda de confianza para todo en Computación
NEXT_PUBLIC_META_DESCRIPTION=Descubre la mejor experiencia de compra en tecnología en PCstore.mx
NEXT_PUBLIC_INFO_PAGE_FOOTER=<p><b>PCStore.mx</b></p><p><b> Tu tienda de tecnología en México </b></p>
NEXT_PUBLIC_FOOTER_EMOJI=❤️
NEXT_PUBLIC_SELLER_DEFAULT_NAME=PCSTORE

# Social Media & External Links
NEXT_PUBLIC_FACEBOOK_URL=https://facebook.com/pcstoremxoficial
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/pcstore.mx/
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@pcstore.mx
NEXT_PUBLIC_GOOGLE_PROFILE_URL=https://maps.app.goo.gl/LDFkTZZNTyLnPzMt6

# Analytics & Tracking
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-PK0X74YPP6
NEXT_PUBLIC_FACEBOOK_PIXEL=258517433751125
NEXT_PUBLIC_GOOGLE_API_KEY=AIzaSyDZWReUi3E03DLle5QUgk0GQzhZyi-We9Y
NEXT_PUBLIC_GOOGLE_PLACE_ID=ChIJUxM4u7LBz4URS3Is_OOd4ZQ

# Payment Gateways
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=APP_USR-3d06f814-b971-4fff-84a9-e7514faec0a1
NEXT_PUBLIC_PAYPAL_CLIENT_ID=AQq20JM8YOkZYtj6C-uZto_TQxPqfYJ2J8PhMQZCwSpu-otnJBP_0qaZAYDEmhKIPgAGscT4JFJbuM2h
NEXT_PUBLIC_KUESKIPAY_API_KEY=e014812b-0a56-46d2-8ac4-3f747d250418

# Development
NEXT_PUBLIC_PAGE_URL=http://p0aa44dc44d4mge84d04e48g.191.101.167.salp.io
